<a href="/super/guest_list">Go back</a>
<%bookings = event.bookings.where(["ref IS NOT ?",nil]) %>
<section>
  <h3>
    <%= event.title %>
  </h3>

  <div>
    <table>
      <tr>
        <td><strong>Type</strong></td>
        <td><strong>:</strong></td>
        <td><%= event.event_type.name %></td>
      </tr>
      <tr>
        <td><strong>Date</strong></td>
        <td><strong>:</strong></td>
        <td><%= event.starttime.strftime '%Y-%m-%d %H:%M:%S' %></td>
      </tr>
      <tr>
        <td><strong>Tickets Total<strong></td>
        <td><strong>:</strong></td>
        <td><%= event.place %></td>
      </tr>
      <tr>
        <td><strong>Tickets sold<strong></td>
        <td><strong>:</strong></td>
        <td><%= bookings.map(&:tickets).flatten.count %></td>
      </tr>
    </table>
  </div>

  <% if event.tickets.count >= event.place %>
    <legend>Bookings<span class="btn btn-info btn-small" style="margin-left:15px;" ></i> Sold Out</span></legend>
  <% else %>
    <legend>Bookings<span class="btn btn-success btn-small" style="margin-left:15px;" onclick="$('#create_booking form').toggle('slow')" ><i class="icon-plus icon-white"></i> Add New</span></legend>
  <% end %>

  <div id="create_booking" style="margin-bottom:10px;">
    <%= render :partial => "create_booking_form",:locals=>{:event=>event} %>
  </div>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th >Reference</th>
        <th >Name</th>
        <th >Nr. Tickets</th>
        <th >Address</th>
        <th >Transaction Date</th>
        <th ></th>
      </tr>
    </thead>
    <tbody>
      <% bookings.each do |booking|%>
      <tr class="odd link" data-link="/super/booking">
        <td>
          <span class="show">
            <a href="/super/booking/<%=booking.id%>"><%=booking.ref%></a>
          </span>
        </td>
        <td>
          <span class="show">
            <a href="/super/user/<%=booking.user.id%>"><%=booking.user.name%></a>
          </span>
        </td>
        <td>
          <%= booking.tickets.count %>
        </td>
        <td>
          <%= booking.user.address %>
        </td>
        <td>
          <%= booking.created_at.strftime '%Y-%m-%d %H:%M:%S' %>
        </td>

        <td class="last links">
          <ul class="inline">
            <li title="Show" rel="tooltip" class="icon show_member_link ">
              <a href="/super/booking/<%=booking.id%>">
                <i class="icon-info-sign"></i>
                <span style="display:none">Show</span>
              </a>
            </li>
          
            <li title="Delete" rel="tooltip" class="icon delete_member_link ">
              <a href="/super/booking/<%=booking.id%>/delete">
                <i class="icon-remove"></i>
                <span style="display:none">Delete</span>
              </a>
            </li>
          </ul>
        </td>


      </tr>
      <% end %>
    </tbody>
  </table>
</section>
